<html>
<body>
CytoPanels Framework.
<P>
<UL>
<LI><A HREF="#whatarecytopanels">What are CytoPanels ?</A></LI>
<LI><A HREF="#basicusage">Basic Usage</A></LI>
<LI><A HREF="#workingwith">Working with the CytoPanel API</A></LI>
<LI><A HREF="#events">CytoPanel Events</A></LI>
</UL>

<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TD COLSPAN=2><FONT SIZE="+1">
<B><A NAME="whatarecytopanels">What are CytoPanels ?</A></B></FONT></TD>
</TR>
</TABLE>
<P>
CytoPanels are floatable / dockable panels, which will be available in Cytoscape 2.2. We built the CytoPanel API to cut down on the number of pop-up windows within Cytoscape, and create a more unified user experience. For example, in Cytoscape 2.1, the cPath Plugin enables users to click on a node and immediately view node details in a pop-up window. Using the CytoPanel API, we can now show these node details in an embedded CytoPanel, and present a more integrated experience to the user. For example, the image below shows a screenshot of the latest BioPAX Plugin. When you click on a node, the node details appear directly in the left CytoPanel.

<P>
<IMG SRC="http://cbio.mskcc.org/~cerami/biopax/bp_plugin1.png" BORDER=0/>
<P>
The user can then chose to resize, hide or float the left CytoPanel. For example, in the screenshot below, the user has chosen to float it:
<P>
<IMG SRC="http://cbio.mskcc.org/~cerami/biopax/bp_plugin2.png" BORDER=0/>
<P>

<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TD COLSPAN=2><FONT SIZE="+1">
<B><A NAME="basicusage">Basic Usage</A></B></FONT></TD>
</TR>
</TABLE>
<P>
Cytoscape 2.2 now includes three CytoPanels: CytoPanel 1 (appears on the left), CytoPanel 2 (appears on the bottom), and CytoPanel 3 (appears on the right). By default, only CytoPanel 1 will appear, and it will automatically contain the network list and bird's eye view component. The other panels will be hidden.

The end-user can show / hide any panel via the new CytoPanel menu, or via the keyboard accelerator short-cuts. 
<P>

<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TD COLSPAN=2><FONT SIZE="+1">
<B><A NAME="workingwith">Working with the CytoPanel API</A></B></FONT></TD>
</TR>
</TABLE>
<P>
The CytoPanel API is straightforward and fully documented. If you are a core Cytoscape coder or a Plugin writer, here are a few tips to get started.
<P>
<h2>Step 1:  Obtain a CytoPanel</h2>
<P>
As noted above, the Cytoscape Desktop contains three default CytoPanels. To obtain one, use the CytoscapeDesktop.getCytoPanel() method. This method takes a SwingConstants integer value, indicating a compass direction (this enables us to add additional CytoPanels in the future, if we decide that's necessary.) Here is sample code for accessing the left CytoPanel:
<P>
<TABLE WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#EEEEEE">
<TD>CytoscapeDesktop desktop = Cytoscape.getDesktop();<br>
CytoPanel cytoPanel = desktop.getCytoPanel (SwingConstants.WEST);
</TD>
</TR>
</TABLE>
<P>
<h2>Step 2:  Add your Component</h2>
<P>
You can place any Swing <tt>Component</tt> object in a CytoPanel, and it will automatically get its own tab. For example, in the code below, I create a BioPAX component, and add it the left CytoPanel. The code also adds an icon and a tooltip:
<P>
<TABLE WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#EEEEEE">
<TD>BioPaxContainer bpContainer = BioPaxContainer.getInstance();<br>
CytoscapeDesktop desktop = Cytoscape.getDesktop();<br>
CytoPanel cytoPanel = desktop.getCytoPanel (SwingConstants.WEST);<br>
URL url = BioPaxDetailsPanel.class.getResource("resources/read_obj.gif");<br>
Icon icon = new ImageIcon(url);<br>
cytoPanel.add("BioPax PlugIn", icon, bpContainer, "BioPax PlugIn");
</TD>
</TR>
</TABLE>
<P>
<h2>Step 3: Set the CytoPanel State</h2>
<P>
You can also (optionally) set the CytoPanel state.  Each CytoPanel exists in one of three states:
<ul>
<li><p> <tt>CytoPanelState.HIDE</tt>:  The panel is hidden from the user's view. </p>
</li>
<li><p> <tt>CytoPanelState.FLOAT</tt>:  The panel is floating in a separate, external window frame. </p>
</li>
<li><p> <tt>CytoPanelState.DOCK</tt>:  The panel is docked in the main Cytoscape window, and visible to the user. </p>
</li>
</ul>
<p>Here is sample code for setting the current state: </p>
<P>
<TABLE WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#EEEEEE">
<TD>cytoPanel.setState(CytoPanelState.DOCK);</TD>
</TR>
</TABLE>
<P>
If you want, you can also activate your tab within a CytoPanel. To do so, first determine the index value of your component. Then, call setSelectedIndex(). For example:
<P>
<TABLE WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#EEEEEE">
<TD>int index = cytoPanel.indexOfComponent(myComponent);<br>
cytoPanel.setSelectedIndex(index);</TD>
</TR>
</TABLE>
<P>
<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TD COLSPAN=2><FONT SIZE="+1">
<B><A NAME="events">CytoPanel Events</A></B></FONT></TD>
</TR>
</TABLE>
<P>
You can also (optionally) register to receive CytoPanel Events. In order to do so, you must implement the <A HREF="../../../cytoscape/view/cytopanels/CytoPanelListener.html" title="interface in cytoscape.view.cytopanels">CytoPanelListener</A> interface and make the following call:
<P>
<TABLE WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#EEEEEE">
<TD>addCytoPanelListener(CytoPanelListener cytoPanelListener);</TD>
</TR>
</TABLE>
<P>
Once you are registered to receive CytoPanel events, you will be notified of the following:
<ul>
<li><p> <tt>a CytoPanel State has changed.</tt> </p>
</li>
<li><p> <tt>a Component has been added to a CytoPanel.</tt> </p>
</li>
<li><p> <tt>a Component has been removed from a CytoPanel.</tt> </p>
</li>
<li><p> <tt>a Component on a CytoPanel has been selected.</tt> </p>
</li>
</ul>
<P>
A CytoPanel Listener can choose to stop receiving CytoPanel Events. To do so, call:
<P>
<TABLE WIDTH="100%" CELLPADDING="3" CELLSPACING="0">
<TR BGCOLOR="#EEEEEE">
<TD>removeCytoPanelListener(CytoPanelListener cytoPanelListener);</TD>
</TR>
</TABLE>
<P>
See <A HREF="../../../cytoscape/view/cytopanels/CytoPanelListener.html" title="interface in cytoscape.view.cytopanels">CytoPanelListener</A> for more information.
</body>
</html>